.orderrequest_review_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  & > .orderrequest_form {
    height: 100%;
    width: calc(1.4 / 2 * 100%);

    padding: var(--mantine-spacing-xl);

    &:only-child {
      width: 100%;
    }
  }
}

.orderrequest_review_page_form {
  & > .company_detail_fields {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .first_row {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 5%;

      margin-bottom: var(--mantine-spacing-lg);

      & > .id_field,
      .status_field,
      .transport_type_field {
        width: 100%;
      }
    }

    & > .third_row {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: start;

      gap: 5%;

      margin-bottom: var(--mantine-spacing-lg);

      & > .port_origin_code_field,
      .port_dest_code_field {
        width: 100%;
      }
    }

    & > .second_row {
      margin-bottom: var(--mantine-spacing-lg);
      width: 100%;
    }
  }
}

.userrequest_handle {
  width: calc(0.6 / 2 * 100%);
  height: 100%;

  padding: var(--mantine-spacing-xl);

  border-left: 1.5px solid var(--mantine-color-default-border);

  & > .button_container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xl);

    & > .approve_button {
      width: calc(1 / 2 * 100%);

      font-weight: bold;

      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    & > .deny_button {
      width: calc(1 / 2 * 100%);

      font-weight: bold;

      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  & > .handle_container {
    margin-top: var(--mantine-spacing-md);
  }

  .confirm_button {
    margin-top: var(--mantine-spacing-md);
    display: flex;
    justify-content: end;
  }
}
.product_table {
  margin-top: var(--mantine-spacing-lg);

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: var(--mantine-spacing-sm);
      border: 1px solid var(--mantine-color-default-border);
      font-size: 0.8em;
    }

    th {
      background-color: var(--mantine-color-primary);
      color: black;
      text-align: left;
    }
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6) {
      width: 10%;
    }
  }
}

.confirm_button {
  margin-top: var(--mantine-spacing-xl);
}
