@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.userrequest_page {
  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--mantine-spacing-xs) / 2);

    & > * {
      font-size: 0.8rem !important;
    }

    & .login_link {
      @include mixins.link;
    }
  }

  &_form {
    width: 100%;

    position: relative;
    display: flex;
    justify-content: space-between;
    gap: var(--mantine-spacing-md);

    & > .company_detail_fields {
      display: flex;
      flex-direction: column;
      width: 60%;
      gap: var(--mantine-spacing-md);

      & > .row {
        display: flex;
        justify-content: space-between;
        gap: var(--mantine-spacing-md);

        & > * {
          width: 100%;
        }
      }

      & > .street_row {
        display: flex;
        justify-content: space-between;
        gap: var(--mantine-spacing-md);

        & > :first-child {
          width: calc(50% - var(--mantine-spacing-md) / 2);
        }

        & > :not(:first-child) {
          width: calc(25% - var(--mantine-spacing-md));
        }

        & > * {
          flex-shrink: 0;
        }
      }
    }

    & > .name_fields {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: var(--mantine-spacing-md);
    }

    & > .go_login_userrequest_button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
