@use './modalmixins.scss' as *;

.change_password_modal {
  & > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);

    & > * {
      width: 100%;
    }
  }

  & .action_button {
    @include modal_action_button;
  }
}
