$cell_height: 2.5rem;

.table_wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);

  user-select: text;

  & > .body {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;

    & > .table {
      position: absolute;
      left: 0;
      top: 0;

      display: flex;

      & > .column {
        width: auto;

        & > div {
          height: $cell_height;
          width: 10rem;

          display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: center;

          padding: 0 var(--mantine-spacing-xs);
        }

        & > :nth-child(odd) {
          background-color: var(--mantine-color-custom-0);
        }

        & > .header_cell {
          & > .sort_button {
            margin-left: 3px;
          }
        }
      }

      & > :not(:last-child) {
        border-right: 1px solid var(--mantine-color-default-border);
      }
    }
  }

  & > .footer {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
  }
}

:export {
  cell_height: $cell_height;
}
