@use '../../../styles//mixins.scss';

$order-padding: 20px;
$section-margin: 20px;
$section-background: #ffffff;
$border-radius: 6px;
$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

.orderDetails {
  background-color: #f5f5f5;

  .header {
    font-size: 24px;
    color: #333;
    margin-bottom: $section-margin;
  }

  p {
    color: black;
    font-weight: 600;
  }
  .title {
    font-size: large;
    padding-bottom: 0.5rem;
  }
  .subTitle {
    font-weight: 100;
    color: gray;
  }

  .topRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    > div {
      background-color: $section-background;
      padding: 1rem;
      border-radius: 4px;
      box-shadow: $box-shadow;
    }

    .generalInfo,
    .timeInfo,
    .shipInfo {
      width: calc(20% - 1rem);
    }

    .mapContainer {
      width: calc(40% - 1rem);
    }
  }

  .bottomRow {
    display: flex;
    justify-content: space-between;

    .productsList {
      width: calc(60% - 1rem);
      flex: 2;
      max-height: 400px;
      background-color: $section-background;
      padding: $order-padding;
      margin-right: 1.4rem;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      position: relative;

      h2 {
        position: sticky;
        top: 0;
        background-color: inherit;
        z-index: 10;
        padding: 10px 0;
        margin-bottom: 0;
      }

      .tableContainer {
        overflow-y: auto;
        max-height: 300px;
        table {
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;

          thead {
            th {
              padding: 8px;
              border-bottom: 1px solid #ddd;
              background-color: #f0f0f0;
              position: sticky;
              top: 0;
              z-index: 5;
              text-align: center;
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #eee;

              &:last-child {
                border-bottom: none;
              }
            }

            td {
              padding: 8px;
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
    }

    .documentsContainer {
      width: calc(40% - 1rem);
      background-color: #fff;
      background-color: $section-background;
      padding: $order-padding;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }
}
