@use '../../../styles//mixins.scss';

.order_details_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.order_details_header {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  background-color: var(--mantine-color-primary-5);

  h1 {
    color: var(--mantine-color-primary-0);
  }
}

.order_details_content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;

  .leftcolumn,
  .rightcolumn {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  section {
    background-color: #eee5de;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      color: #7a6f64;
      border-bottom: 2px solid #c4b2a9;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

    p,
    ul {
      font-size: 14px;
      color: #5a4a42;

      li {
        list-style-type: none;
      }
    }
  }

  .product_table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #c4b2a9;
    }

    th {
      background-color: #c4b2a9;
      color: #5a4a42;
    }

    td {
      background-color: #fff;
      color: #5a4a42;
    }
  }
}
