.top-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgb(84, 80, 69);
  height: 8vh;
}

.logo img {
  height: 40px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.lang {
  color: white;
}

.notifications img {
  height: 50px;
}

.left-navbar {
  width: 18vw;
  height: 92vh;
  padding: 1rem 0rem;
  background-color: white;
  color: black;
  position: relative;
}
.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0rem 1rem;
}

.nav-item {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem 0rem;
  border-radius: 10px;
  padding-left: 1rem;
}
.nav-item:hover {
  background-color: rgba(198, 198, 198, 0.327);
  cursor:pointer;
}

.flag img {
  height: 20px;
}

.left-icon img {
  height: 20px;
}

.left-icon {
  padding: 5px;
}

.text-left {
  margin-left: 1rem;
}

#home-icon {
  background-color: rgba(142, 150, 255, 0.433);
  border-radius: 20%;
  cursor: pointer;
}

#list-icon {
  background-color: rgba(142, 255, 210, 0.433);
  border-radius: 20%;
  cursor: pointer;
}

#reg-icon {
  background-color: rgba(255, 142, 247, 0.433);
  border-radius: 20%;
  cursor: pointer;
}

.account-button {
  height: 10vh;
  width: 100%;
  background-color: white;
  color: black;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgb(84, 80, 69);
}

.account-button:hover {
  background-color: rgb(84, 80, 69);
  color: white;
}

.button-items {
  margin-top: 10%;
}

.account-button img {
  height: 20px;
  margin-left: 0.5rem;
  float: left;
  margin-top: 0.25rem;
}

#account-name {
  margin-left: 1rem;
  float: left;
}

#account-mail {
  margin-left: 1rem;
  float: left;
  font-size: small;
  margin-top: 5px;
  color: grey;
}

body {
  background-color: rgb(207, 207, 207);
}
