@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.login_page {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--mantine-primary-color-6);

	& > .panel {
		@include mixins.shadow;

		width: 80vh;
		background-color: var(--mantine-primary-color-0);

		padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--mantine-spacing-md);

		border-radius: var(--mantine-radius-default);

		// hide logo on mobile
		@media screen and (max-width: variables.$mobile-breakpoint) {
			.logo {
				display: none;
			}

			.body {
				height: 25vh;
			}
		}

		& > * {
			width: 100%;
			display: flex;
		}

		& > .header {
			justify-content: center;
			align-items: center;

			& > * {
				font-size: 2rem;
				font-weight: 600;
			}
		}

		& > .body {
			gap: var(--mantine-spacing-xl);
		}

		& > .footer {
			align-items: center;
			justify-content: center;
			gap: calc(var(--mantine-spacing-xs) / 2);

			& > * {
				font-size: 0.8rem;
			}

			& .userrequest_link {
				font-weight: 700;
				text-decoration: underline;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.login_form {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& > .login_button {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	& div:has(.password_reset) {
		position: relative;
	}

	& .password_reset {
		position: absolute;
		bottom: -2rem;
		font-size: 0.8rem;
		font-weight: 600;
		text-decoration: underline;

		&:hover {
			cursor: pointer;
		}
	}
}
