@use '../../../styles/mixins.scss';

.ordercreate_page {
  width: 100%;
  height: 100%;

  display: flex;
  gap: var(--mantine-spacing-md);

  & > .inputs {
    width: calc(100% / 4);

    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);

    flex-shrink: 0;

    & > .form {
      display: flex;
      flex-direction: column;
      gap: var(--mantine-spacing-md);
    }

    & > .documents {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      gap: var(--mantine-spacing-md);
    }

    & > .actions {
      display: flex;
      flex-direction: row;
      gap: var(--mantine-spacing-md);
      justify-content: space-between;
    }
  }

  & > .products {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);

    & > .table {
      height: 100%;
    }
  }
}

.product_form {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xl);
    margin-top: var(--mantine-spacing-md);

    align-items: center;

    & > * {
      width: 100%;
    }
  }

  & > .confirm_button {
    align-self: flex-end;
  }
}
