@use '../../../styles/mixins.scss';

.ordercreate_page {
  width: 100%;
  height: 100%;

  display: flex;
  gap: var(--mantine-spacing-md);

  & > .inputs {
    width: calc(100% / 4);
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);

    flex-shrink: 0;

    & > .form {
      display: flex;
      flex-direction: column;
      gap: var(--mantine-spacing-md);
    }

    & > .documents {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: var(--mantine-spacing-md);
    }
  }

  & > .products {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);

    & > .header {
      display: flex;
      justify-content: space-between;
    }

    & > .table {
      height: 100%;
    }
  }
}

.product_form {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xl);
    margin-top: var(--mantine-spacing-md);

    align-items: center;

    & > * {
      width: 100%;
    }
  }

  & > .confirm_button {
    align-self: flex-end;
  }
}

.upload_document_form {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);

  & > .confirm_button {
    align-self: flex-end;
  }
}

.order_documents {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-default);
    border: 1px solid var(--mantine-color-default-border);

    & > .info {
      display: flex;
      flex-direction: column;
    }
  }
}
