@use '../../../styles/variables.scss';
@use '../../../styles/mixins.scss';

.public_page_wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mantine-primary-color-6);
  overflow: hidden;

  // White panel stylings
  & > .panel {
    @include mixins.shadow;

    background-color: var(--mantine-primary-color-0);

    margin: var(--mantine-spacing-xs);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--mantine-spacing-md);

    border-radius: var(--mantine-radius-default);

    z-index: 1;

    & > .divider {
      width: 100%;
    }

    & > .header {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        font-size: 2rem;
        font-weight: 600;
      }

      & > .back_button {
        position: absolute;
        left: 0;

        height: 2rem;
        width: 2rem;
      }
    }
  }

  & > .waves {
    position: absolute;
    width: 100%;
    bottom: -1.5rem;
    object-fit: cover;
  }
}
