.popover {
  display: flex;
  flex-direction: column;
}

.password_requirement {
  width: 100%;

  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);

  & > .icon {
    width: 1rem;
    height: 1rem;
  }
}
