.home_page {
  width: 100%;
  height: 100%;

  & > .header {
    width: 100%;
    height: 13%;

    border-bottom: 1.5px solid var(--mantine-color-default-border);

    padding-top: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .body {
    width: 100%;
    height: 74%;
    padding: var(--mantine-spacing-xl);
    display: flex;
    justify-content: center;
    align-items: center;

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .card {
        width: 300px;

        .iconContainer {
          height: 200px; // Increase the height of the icon container
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .cardTitle {
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cardDescription {
          max-width: 280px;
          white-space: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}
