.targetContainer {
  display: flex;
  align-items: center;
}

.flagContainer {
  margin-top: 5px;
  margin-right: var(--mantine-spacing-sm);
}

.flag {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card {
  position: relative;

  .box {
    cursor: pointer;
    display: flex;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .flag {
    width: 35px;
    margin-right: var(--mantine-spacing-md);
  }

  .name {
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
  }
}
.selectedCard {
  background-color: red;
}
