<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Order Status Update</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        p {
            color: #555;
        }
    </style>
</head>
<body>
<h1>Order Status Update</h1>
<p>Dear <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>,</p>
<p>Your order with with reference code <strong><span th:text="${customerReferenceNumber}"></span></strong> has changed status from <strong><span th:text="${oldState}"></span></strong> to <strong><span th:text="${newState}"></span></strong>.</p>
<p>Thank you for your continued support. We will keep you informed about the status of your order.</p>
<p>Best regards,</p>
<p>Steelduxx</p>
</body>
</html>
